<div class='flex-grow-1'>
  <h2 class='bravo-text-primary h4 fw-bold px-4 pb-3 pt-5'>Contact Us</h2>
  <div class='px-4 py-3' style='max-width: 480px;'>
    <div class='mb-3'>
      <input type='email'
             class='form-control bravo-bg-secondary-dark bravo-text-primary rounded-3 p-4'
             placeholder='Your Email'
             style='height: 56px; border: none; background-color: var(--bravo-secondary-dark); color: var(--bravo-text-primary);'>
    </div>
  </div>
  <div class='px-4 py-3' style='max-width: 480px;'>
    <div class='mb-3'>
        <textarea class='form-control bravo-bg-secondary-dark bravo-text-primary rounded-3 p-4'
                  placeholder='Your Question'
                  rows='4'
                  style='min-height: 144px; border: none; background-color: var(--bravo-secondary-dark); color: var(--bravo-text-primary);'></textarea>
    </div>
  </div>
  <div class='px-4 py-3 d-flex justify-content-end'>
    <button class='btn bravo-bg-primary-accent bravo-text-on-accent fw-bold rounded-pill px-4'
            style='height: 40px; min-width: 84px; max-width: 480px;'>
      Submit
    </button>
  </div>
</div>
