<!-- Footer Section -->
<footer class='mt-auto'>
  <!-- Divider -->
  <hr class='bravo-border-accent m-0 border-1'>

  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-12'>

        <!-- Logo -->
        <div class='text-center mb-4'>
          <img alt='Bravo Logo' class='img-fluid' src='/logo.svg'>
        </div>

        <!-- Footer Navigation -->
        <div class='d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-around
                      flex-wrap gap-3 gap-md-4 p-4 text-center'>
          <a class='text-decoration-none bravo-text-secondary-medium' href='#'>Sobre a Academia</a>
          <a class='text-decoration-none bravo-text-secondary-medium' href='#'>Termos de Uso</a>
          <a class='text-decoration-none bravo-text-secondary-medium' href='#'>Política de Privacidade</a>
          <a class='text-decoration-none bravo-text-secondary-medium' href='#'>Contate-nos</a>
        </div>

        <!-- Copyright -->
        <p class='bravo-text-secondary-medium text-center mb-0 pt-3'>
          © 2025 Bravo.
        </p>
        <p class='bravo-text-secondary-medium text-center mb-0 p-0'>
          Desenvolvido para a disciplina TSI33A do curso de Sistemas para Internet da UTFPR Guarapuava
        </p>

      </div>
    </div>
  </div>
</footer>
