<div class='hero-container d-flex flex-column align-items-center'>
  <div class='img-container'>
    <img alt='stage'
         src='https://lh3.googleusercontent.com/aida-public/AB6AXuARTNj6-ez4smA-HoUswjp1Oizy6HVnOAZPa-OXRUoT29iC7wtBJH4KqS6_VnfUE5m5xXkMjYXpGRBuAsdpsBaz4ksj-2oIKQ9ibGVlQ3-wCg5DMphvxrXmEqY_GXrh5iTdpPMCgFTCICzUgUBEl7J3Yn_RQxsBkVUa9MgZ6Au8AGnHnZYKSINPOSDLgxGkpnXkUYIxfHEtdM4s_V03jN-bRBRbqnOgta4kb_youMZnlZoYmUaD-ClcEu0YxXNGmMjD16big65afQ'>
  </div>
  <div class='hero-cta-container text-center'>
    <app-cta buttonText='botones' h1Text='texto' h2Text='não perca' pText='paragrafo'></app-cta>
  </div>
</div>
