<div class='p-2 p-sm-3 p-md-4'>
  <div class='mh-100 rounded-3 d-flex flex-column justify-content-center position-relative overflow-hidden ratio ratio-16x9'>

    <img alt='stage'
         class='w-100 h-100 object-fit-cover'
         src='https://lh3.googleusercontent.com/aida-public/AB6AXuARTNj6-ez4smA-HoUswjp1Oizy6HVnOAZPa-OXRUoT29iC7wtBJH4KqS6_VnfUE5m5xXkMjYXpGRBuAsdpsBaz4ksj-2oIKQ9ibGVlQ3-wCg5DMphvxrXmEqY_GXrh5iTdpPMCgFTCICzUgUBEl7J3Yn_RQxsBkVUa9MgZ6Au8AGnHnZYKSINPOSDLgxGkpnXkUYIxfHEtdM4s_V03jN-bRBRbqnOgta4kb_youMZnlZoYmUaD-ClcEu0YxXNGmMjD16big65afQ'>
  </div>
</div>
<div class='text-center py-4'>
  <app-cta [eventName]='eventName'
           [pText]='eventDescription'
           buttonText='Inscreva-se agora!'
           routeTo='sign-in'></app-cta>
</div>
