<div class='position-relative d-flex min-vh-100 flex-column justify-content-between overflow-hidden'>

  <div class='d-flex w-100 flex-column align-items-center'>
    <!-- Hero Section -->
    <div class='container-fluid p-0'>
      <div class='p-2 p-sm-3 p-md-4'>
        <div class='hero-image w-100 d-flex flex-column justify-content-end overflow-hidden rounded-3 bravo-bg-primary-dark'
             style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAuHOm5g1cgFbnqofyT5M9htiLynvm5OXsuKRW2CpNi0f_qFht69SHR0zVFddWQeiXXjBF1mPBIu_6TuOeHD1F1ISXxW0M3_ufxh4X-GXjsc5wqzIB51XN7hCsuddZ83R8qDnS6L5lM3yTcCqt1jvMpepz12G2GzijvyGwPAbPRvDXqIZ_AK0iIfgdzu6gbTgk6wSqXA2RgB0bKh647TPdqZRPfCgHGcWZNDc1Pbtj39dozTxFuXQbhFJ47pI5CyZHphY2LcqHHpw"); background-position: center; background-repeat: no-repeat; min-height: 15rem;'>
        </div>
      </div>
    </div>

    <!-- Welcome Text -->
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5'>
          <h2 class='bravo-text-primary fw-bold text-center p-3 pb-3 pt-4 pt-sm-5 fs-1'>
            Bem vindo de volta!
          </h2>
        </div>
      </div>
    </div>

    <!-- Form Section -->
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-12 col-sm-10 col-md-8 col-lg-12'>

          <form (ngSubmit)='onSubmit()' [formGroup]='signInForm' class='d-flex flex-column'>
            <!-- Email Input -->
            <div class='py-2 py-sm-3'>
              <app-form-input
                [control]='emailControl'
                label='Email'
                placeholder='Email'
                type='email'
              ></app-form-input>
            </div>

            <!-- Password Input -->
            <div class='py-2 py-sm-3'>
              <app-form-input
                [control]='passwordControl'
                label='Senha'
                placeholder='Senha'
                type='password'
              ></app-form-input>
            </div>

            <!-- Login Button -->
            <div class='w-100 py-2 py-sm-3'>
              <app-primary-button (buttonClick)='onSubmit()'
                                  [fullWidth]='true'
                                  [isDisabled]='signInForm.invalid'
                                  buttonText='Entrar'
                                  class='w-100'
                                  type='submit'
              ></app-primary-button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>

</div>
